extends layout

block content
    div(class="row section center-align")
      div(class="col s12")
        div(class="card blue lighten-1")
          div(class="card-content white-text")
            div(class="card-title") THANK YOU SANDBERG
            p This is a clone of Dragon Manager, all credit goes to Sandberg, all problems are credited to current operator

    div(class="row section center-align")
      div(class="col s12")
        h6(class="red-text lighten-3") Not everything on this site works on older versions of Internet Explorer.
